# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
# bat.php files generate Windows batch files, which need CRLF line endings.
*bat.php text eol=crlf